
@{
    ViewBag.Title = "ThongTinQuyen";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Không có quyền truy cập vào trang này</h2>
<br />
@Html.ActionLink("Về trang chủ", "Index", "Home", new {@class="btn btn-primary"})

