@using ShoppingCartOnline.Models;
@model IEnumerable<LoaiThanhVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    //khởi tạo controll WebGrid
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 20);
}

<br /><br />
<h2>Quản lý phân quyền</h2>
<br />

@*Show dữ liệu thông qua controll WebGrid*@
@grid.GetHtml(
    tableStyle: "divTable", //divTable là tên class có thể thay đổi tương tự với các tham số khác
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("MaLoaiTV", "Mã loại TV"),
    grid.Column("TenLoai", "Loại thành viên"),
    grid.Column(format: p =>@Html.ActionLink("Phân quyền", "PhanQuyen", new {id=p.MaLoaiTV}, new {@class="btn btn-success" }))
))

@*Table có thể CSS**@
<style>
    .divTable {
        width: 100%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .divTable thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .divTable th,
        .divTable td {
            padding: 12px 15px;
        }

        .divTable tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .divTable tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .divTable tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }

            .divTable tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }
</style>
